@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
    background: purple
}

.card {
	color: red;
    width: 350px;
    border-radius: 10px;
   background: linear-gradient(145deg, grey, black);
box-shadow:  20px 20px 60px red, 
             -20px -20px 60px pink;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: red;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, red, red);
box-shadow: inset 20px 20px 60px red, 
             inset -20px -20px 60px red;
}

.num{
	
	color:red !important;
}

.line{
	color:red;
}

.neo-button:active {
   border-radius: 50%;
background: black;
box-shadow:  28px 28px 57px grey, 
             -28px -28px 57px grey;
}

.fa-link {
    color: pink
}

.bi-robot {
    color: pink
}

.bi-discord {
    color: pink
}

.fa-whatsapp {
    color: pink
}

.fa-instagram {
    color: pink
}

.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: red;
box-shadow:  28px 28px 57px pink, 
             -28px -28px 57px pink;
	
}